<div class="Form">
    <div class="form-container">
        <h1 style="text-align: center;">
            <span style="color:blue;">F</span>
            <span style="color:red;">u</span>
            <span style="color:yellow;">n</span>
            <span style="color: aqua;">d</span>
            <span style="color:black;">o</span>
            <span style="color:blue;">o</span>
            <span style="color:red;">N</span>
            <span style="color:yellow;">o</span>
            <span style="color:aqua;">t</span>
            <span style="color:green;">e</span>
            <span style="color:darkmagenta;">s</span>
        </h1>
        <h1 style="text-align:center;">
            <span style="color:rgb(0, 0, 10)">Find you email</span>
        </h1>
        <h3 style="text-align: center;">
            <span style="color: black;">Enter your recovery email or phone number</span>
        </h3><br>
        <form [formGroup] = "ForgotPasswordForm" (ngSubmit) = "onForgotPassword()"  >
            <div style="margin-left: 13px;">
                <mat-form-field appearance="outline" style="width: 320px;">
                    <mat-label>Email or Phone</mat-label>
                    <input matInput placeholder="Enter Email or Phone" formControlName="Email" >
                </mat-form-field>
            </div>
            
            <button mat-raised-button color="primary" style="margin-left: 268px; ">Next</button>
        </form>
    </div>
</div>

