<div class="Form">
    <div class="form-container">
        <h1 style="text-align: center;">
            <span style="color:blue;">F</span>
            <span style="color:red;">u</span>
            <span style="color:yellow;">n</span>
            <span style="color: aqua;">d</span>
            <span style="color:black;">o</span>
            <span style="color:blue;">o</span>
            <span style="color:red;">N</span>
            <span style="color:yellow;">o</span>
            <span style="color:aqua;">t</span>
            <span style="color:green;">e</span>
            <span style="color:darkmagenta;">s</span>
        </h1>
        <h1 style="text-align:center;">
            <span style="color: black;">Hello, Ananya Etti</span>
        </h1>
        <h5 style="margin-left: 25px;">
            <span style="color: black;">To continue, fisrt verify that it's you</span>
        </h5>
        <form [formGroup] = "ResetPasswordForm"  (ngSubmit) = "onResetPassword()">
            <div style="margin-left: 25px;">
                <mat-form-field appearance="outline" style="width: 320px;">
                    <mat-label>Enter new Password</mat-label>
                    <input matInput placeholder="Enter Password" formControlName="password" >
                </mat-form-field>
            </div>
            <div style="margin-left: 25px;">
                <mat-form-field appearance="outline" style="width: 320px;" >
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="Enter Password" formControlName="confirmPassword">
                </mat-form-field>
            </div>
            <section class="example-section" style="margin-left: 25px;">
                <mat-checkbox class="example-margin">Show Password</mat-checkbox>
              </section><br>
              <div>
                <button mat-button color="primary" style="color: blue; margin-left: 10px;">Forgot Password?</button>
                <button mat-raised-button color="primary" style="margin-left: 124px;">Next</button>
            </div>
        </form>
    </div>
</div>

